.AccountSelect {
}

.AccountSelect label {
  float: left;
  padding-right: 1em;
  padding-top: 0.5em;
}

.AccountSelect .dropdown {
  float: left;
  width: 20em !important;
}

.AccountSelect .dropdown > .text {
  padding-left: 1em;
}

.AccountSelect .dropdown > .icon {
  float: left;
}

.AccountSelect .selected:before {
  content: "✓ ";
}