.BalanceHistoryPane {

  .FileSelect,
  .DateRangeSelect,
  button.button {
    float: left;
    margin-right: 1em;
    margin-bottom: 1em;
  }

  .FileSelect {
    div {
      float: left;
    }

    div.message {
      margin-top: -1px;
      padding: 6px;
    }
  }

  button.button,
  .divider {
    clear: both;
  }

  table.BalanceHistoryTable {}
}