.StatusPanel {
  width: 40em;

  div {
    width: 100%;
  }

  &.progress {
    color: black;
  }

  &.ok {
    color: green;
  }

  &.error {
    color: red;
  }

  loader {
    padding-right: 1em;
  }

  span {
    padding-left: 1em;
  }
}