.TransactionGroupsPane {}

.TransactionGroupsPane .TickersSelect {
  width: 60%;
  margin-right: 1em;
}

.TransactionGroupsPane table.TransactionGroupsSummaryPanel,
.TransactionGroupsPane table.positions {
  width: 80%;
  border-collapse: collapse;
}

.TransactionGroupsPane table td {
  text-align: center;
}

.TransactionGroupsPane table.TransactionGroupsSummaryPanel,
.TransactionGroupsPane table.positions {}

.TransactionGroupsPane table.TransactionGroupsSummaryPanel th,
.TransactionGroupsPane table.TransactionGroupsSummaryPanel td,
.TransactionGroupsPane table.positions th,
.TransactionGroupsPane table.positions td {
  border: 1px solid white;
  border-collapse: collapse;
  background-color: #bfded0;
}

.TransactionGroupsPane .TransactionGroupsSummaryPanel tbody tr:last-child {
  font-weight: bold;
  border-top: solid 1px;
}