html {
  font-family: sans-serif;
  background: #eee;
  padding: 1rem;
}

body {
  max-width: 960px;
  margin: 0 auto;
  background: white;
}

header, footer {
  left: 0;
  width: 100%;
  text-align: center;
}

header {
  top: 0;
  /* color: white; */
}

footer {
  bottom: 0;
  color: white;
  background-color: gray;
}

h1, h2, h3, h4, h5, h6 {
  font-family: serif;
  color: #377ba8;
  margin: 1rem 0;
}

a {
  color: #377ba8;
}

hr {
  border: none;
  border-top: 1px solid lightgray;
}

nav {
  background: lightgray;
  display: flex;
  align-items: center;
  padding: 0 0.5rem;

  h1 {
    flex: auto;
    margin: 0;

    a {
      text-decoration: none;
      padding: 0.25rem 0.5rem;
    }
  }

  ul  {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      a, span {
        display: block;
        padding: 0.5rem;
      }
    }
  }
}

header .action {
  display: block;
  padding: 0.5rem;
}

main {
  padding: 0 1rem 1rem;

  > header {
    border-bottom: 1px solid lightgray;
    display: flex;
    align-items: flex-end;

    h1 {
      flex: auto;
      margin: 1rem 0 0.25rem 0;
    }
  }

  &:last-child {
    margin-bottom: 0;
  }

  form {
    margin: 1em 0;
    display: flex;
    flex-direction: column;
  }

  label {
    font-weight: bold;
    margin-bottom: 0.5em;
  }

  input {
    margin-bottom: 1em;
  }
}

section {
  border-style: groove;
  margin: 6px;
  border-radius: 8px;
}

%amount {
  color: green;
}

.negative {
  color: red !important;
}

%money {
  &:before {
    content: "$";
  }
  text-align: right;
  font-size: small;
  font-family: Verdana;
}

.amount {
  @extend %amount;
}

.money {
  @extend %money;
}

.duration {
  color: green;
}

%cell {
  border: 1px solid gray;
  padding: 4px;
  text-align: center;
}


%summary {
  clear: both;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 800;
  margin-top: 1em;
  padding-left: 2em;
}

.summary {
  @extend %summary;
}

.transaction_group_summary {
  @extend %summary;
  margin-top: 4em;
  padding-top: 1em;
  border-top: 2px dotted gray;
}

.ticker {
  font-weight: 900;
  color: rgb(62, 62, 199);
}

table.total {
  border-collapse: collapse;
  border-style: hidden;
  width: 95%;
  margin: 8px auto
}

table.total th, table.total td {
  border: 1px solid gray;
  padding: 4px;
  text-align: center;
}

table.total td.label {
  font-size: medium;
  font-weight: 700;
  text-align: left;
  padding-left: 2em;
}

table.transaction {
  background: #D5F5E3;
  border-collapse: collapse;
  border-style: hidden;
  width: 95%;
  margin: 8px auto;

  th, td {
    @extend %cell;
  }

  td.symbol {
    background-color: rgb(197, 206, 235);
  }

  &.completed {
    background:#E7E9EB;
  }
}

table.history {
  tbody tr {
    background-color: #EFFDF9;
  }

  th, td {
    @extend %cell;
  }

  tr.ignored {
    background-color: #E6E7E6;
  }

  tr.invalid {
    background-color: #E19887;
  }

  td:nth-child(3), td:nth-child(9) {
    font-size: small;
  }

  td:nth-child(5), td:nth-child(7), td:nth-child(8) {
    @extend %money;
  }
  
  td:nth-child(8) {
    @extend %amount;
  }
}

.symbol {
  font-size: small;
  text-decoration: dotted underline;
}

.description {
  font-size: small;
}

.quantity {
  font: bold;
}

.history_summary {
  clear: both;
  padding-left: 1em;
  padding-bottom: 1em;

  .legend {
    padding-top: 1em;
    .note {
      font-style: italic;
      font-weight: bold;
    }
  }
}

%effective {
  &:before {
    content: "*";
  }
}

%ineffective {
  text-decoration: dotted line-through;
}

%original {
  font-style: normal;
}

%virtual {
  font-style: italic;
}

%completed {
  color: gray;
}

%uncompleted {
  color: #0f8d0f;
}

%merged {
  text-decoration: overline;
}

%sliced {
  text-decoration: underline;
}

tr.original, span.original {
  @extend %original;
}


tr.virtual, span.virtual {
  @extend %virtual;
}

tr.effective td:first-child, span.effective {
  @extend %effective;
}

tr.ineffective td:first-child, span.ineffective {
  @extend %ineffective;
}

tr.merged td:first-child, span.merged {
  @extend %merged;
}

tr.sliced td:first-child, span.sliced {
  @extend %sliced;
}

tr.completed td:first-child, span.completed {
  @extend %completed;
}

tr.uncompleted td:first-child, span.uncompleted {
  @extend %uncompleted;
}

.toggle {
  cursor: pointer;
  background-color: #008CBA;
  border: none;
  color: white;
  padding: 4px 6px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  border-radius: 6px;
}

.account span {
  border-style: outset none;
  margin: 3px;
  border-radius: 3px;
}

tr.open {
  background-color: rgb(190, 216, 180);
}

table.positions {
  margin: 4px;
  width: 60%;
  td {
    text-align: center;
  }
}

div.search_result {
  visibility: hidden;
}

tr.close {
  background-color: gainsboro;
}

section.account {
  border-style: none;
  margin: 6px;
}

.account span a {
  text-decoration: none;
}

form.container {
  width: 100%;
  display: block; /* override main form! */
}

div.condition {
  margin: 5px;
  float: left;
}

.customDate {
  visibility: hidden;
}

.ui-icon-triangle-1-n,
.ui-icon-triangle-1-s {
  cursor: pointer;
}


section.tx_group, .none {
  display: none;
}

.search {
  font-size: small;
}

ul.account_nav {
  .ui-tabs-active {
    margin-bottom: 0;
    padding-bottom: 1px;

    a {
      cursor: text;
    }
  }

  li.load {
    float: right;
    font-size: medium;

    a {
      text-decoration: dotted underline;
      color: white !important;
      background-color:#007fff !important;
      margin-top: -3px;
      border-radius: 5px;
      padding: 6px !important;
      font-size: 0.8em !important;
      font-weight: 550 !important;
    }
  }
}

.account_content {
  background: transparent;
  border: none;

  .ui-widget-header {
    background: transparent;
    border: none;
    border-bottom: 1px solid #c0c0c0;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
  }

  .ui-tabs-nav {
      .ui-state-default {
        background: transparent;
        border: none;

        a {
          color: #c0c0c0;
          font-weight: 800;
        }
      }

      .ui-state-active {
        background: transparent url(../img/uiTabsArrow.png) no-repeat bottom center;
        border: none;

        a {
          color: #007fff;
        }
      }
  }
}

.message {
  color: green;
  font-size: small;
  float: right;

  &.error {
    color: red;
  }
}