{% set url = url_for(request.endpoint, **request.view_args) %}
<div id="accounts" url="{{url}}" init_account="{{init_account or ''}}">
    <ul>
        {% for accounts in config.broker_client[0].accounts %}
        {% for alias, full_account in accounts.items() %}
        <li><a href="#account-{{full_account[-4:]}}">{{alias}}</a></li>
        {% endfor %}
        {% endfor %}
    </ul>

    {% for accounts in config.broker_client[0].accounts %}
    {% for alias, full_account in accounts.items() %}
    {% set account = full_account[-4:] %}
    <div id="account-{{account}}" class="account_content tabs ui-tabs ui-widget ui-widget-content ui-corner-all">
        <p>
            <label>Account:</label> {{full_account[-4:]}}
            <label>Transaction Period:</label>
            <span name="start_time" class="date" format="mm/dd/yy"></span> -
            <span name="end_time" class="date" format="mm/dd/yy"></span>
            <span name="message" class="message"></span>
        </p>
        <ul class="account_nav ui-tabs-nav ui-corner-all ui-helper-reset ui-helper-clearfix ui-widget-header">
            {% set pages = {
                '/home': "Account Summary",
                '/transactionGroups': "Transaction Groups",
                '/transactions': "Transaction History",
                '/balances': "Balance History"
            }
            %}
            {% set active_map, selected_map, expanded_map = {url:"ui-tabs-active ui-state-active"}, {url:'true'}, {url:'true'} %}

            {% for url, desc in pages.items() %}
            <li {{ {'class': "ui-tabs-tab ui-corner-top ui-state-default ui-tab %s" |format(active_map[url] or ''),
             'aria-selected' :"%s"|format(selected_map[url] or 'false' ),
             'aria-expanded' :"%s"|format(expanded_map[url] or 'false' ) }|xmlattr }}>
                <a href="{{url}}" class="ui-tabs-anchor">{{desc}}</a>
            </li>
            {% endfor %}

            <li class="load ui-tabs-tab ui-corner-top ui-state-default ui-tab">
                <a href="/load/{{account}}?scope=2" class="ui-tabs-anchor">Reload all</a>
            </li>
            <!-- <li class="load ui-tabs-tab ui-corner-top ui-state-default ui-tab">
                <a href="/load/{{account}}?scope=0" class="ui-tabs-anchor">Reload basic</a>
            </li> -->
            <li class="load ui-tabs-tab ui-corner-top ui-state-default ui-tab">
                <a href="/load/{{account}}?scope=1" class="ui-tabs-anchor">Live load</a>
            </li>
        </ul>
    </div>
    {% endfor %}
    {% endfor %}
</div>