<!DOCTYPE html>
<html lang="en">

<head>
    <title>{% block title %}{% endblock %} - Smartrade ({{config['ENV']}})</title>

    {% assets "scss_all" %}
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='generated/all.css')}}" />
    {% endassets %}

    <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.min.js"
        integrity="sha256-eTyxS0rkjpLEo16uXTS0uVCS4815lc40K2iVpWDvdSY=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{{url_for('static', filename='app.js')}}"></script>
    {% block head %}
    <!-- Placeholder for Other Imports -->
    {% endblock %}
</head>

<body>
    <header>
        <h1>Smartrade</h1>
        {% block header %}{% endblock %}
    </header>
    <nav>
        {% block nav %}{% endblock %}
    </nav>
    <main>
        {% block main %}{% endblock %}
    </main>
    <aside>
        {% block aside %}{% endblock %}
    </aside>
    <footer> Copyright © 2022 All Rights Reserved ({{config['ENV']}})</footer>
</body>

</html>