{% extends "base.html" %}

{% block title %}
Home
{% endblock %}

{% block head %}
{% endblock %}

{% block header %}
Smartrade
{% endblock %}

{% block main %}
<p>Welcome to the Smartrade</p>

<section>
    <table class="total">
        <tbody>
            <tr>
                <th>Total Market Value</th>
                <th>Total Profit</th>
                <th>Total Cash</th>
                <th>Total Investment</th>
                <th>Total Interest</th>
                <th>Total Dividend</th>
                <th>Total Trading</th>
            </tr>
            <tr>
                <td class="money">{{"%.2f"|format(total_market_value)}}</td>
                <td class="money amount {{'' if total_profit >= 0 else 'negative'}}">
                    {{"%.2f"|format(total_profit)}}</td>
                <td class="money">{{"%.2f"|format(total_cash)}}</td>
                <td class="money">{{"%.2f"|format(total_investment)}}</td>
                <td class="money">{{"%.2f"|format(total_interest)}}</td>
                <td class="money">{{"%.2f"|format(total_dividend)}}</td>
                <td class="money">{{"%.2f"|format(total_trading)}}</td>
            </tr>
        </tbody>
    </table>
</section>

<li><a href="list">List tickers</a></li>
<li><a href="load">Load data</a></li>

{% endblock %}