{% extends "base.html" %}

{% block title %}
Home
{% endblock %}

{% block head %}
{% endblock %}

{% block header %}
{% endblock %}
 
{% set account = request.path.split('/')[-1] %}

{% block main %}

<article>
{% include 'account.html' %}

<div id="account_template" style="display: none;">
    <section class="broker">
        <table class="total">
            <tbody>
                <tr>
                    <th>Total</th>
                    <th>Profit</th>
                    <th>Profit(%)</th>
                    <th>Securities</th>
                    <th>Cash</th>
                    <th>Investment</th>
                    <th>Interest</th>
                    <th>Dividend</th>
                    <th>Buying Power</th>
                </tr>
                <tr>
                    <td class="money amount" name="account_value"></td>
                    <td class="money amount" name="profit"></td>
                    <td class="amount percent" name="profit_rate"></td> 
                    <td class="money amount" name="total_securities_value"></td>
                    <td class="money amount" name="cash_value"></td>
                    <td class="money amount" name="total_investment"></td>
                    <td class="money amount" name="total_interest"></td>
                    <td class="money amount" name="total_dividend"></td>
                    <td class="money amount" name="buying_power"></td>
                </tr>
            </tbody>
        </table>
    </section>

    <section class="derived">
        <table class="total">
            <tbody>
                <tr>
                    <th>Total Market Value</th>
                    <th>Total Profit</th>
                    <th>Total Profit(%)</th>
                    <th>Total Cash</th>
                    <th>Total Investment</th>
                    <th>Total Interest</th>
                    <th>Total Dividend</th>
                    <th>Total Trading</th>
                </tr>
                <tr>
                    <td class="money amount" name="total_market_value"></td>
                    <td class="money amount" name="total_profit"></td>
                    <td class="amount percent" name="total_profit_rate"></td> 
                    <td class="money amount" name="total_cash"></td>
                    <td class="money amount" name="total_investment"></td>
                    <td class="money amount" name="total_interest"></td>
                    <td class="money amount" name="total_dividend"></td>
                    <td class="money amount" name="total_trading"></td>
                </tr>
            </tbody>
        </table>
    </section>

    <section class="broker">
        <table class="total">
            <tbody>
                <tr>
                    <th>Symbol</th>
                    <th>Quanity</th>
                    <th>Cost</th>
                    <th>Price</th>
                    <th>Day Gain</th>
                    <th>Day Gain(%)</th>
                    <th>Gain</th>
                    <th>Gain(%)</th>
                    <th>Market value</th>
                </tr>
                <tr>
                    <td class="label" colspan="9">Stocks</td>
                </tr>
                <tr name="position">
                    <td class="symbol" name="symbol"></td>
                    <td class="quantity" name="quantity"></td>
                    <td class="money amount" name="cost"></td>
                    <td class="money amount" name="price"></td>
                    <td class="money amount" name="day_gain"></td>
                    <td class="amount percent" name="day_gain_percent"></td>
                    <td class="money amount" name="gain"></td>
                    <td class="amount percent" name="gain_percent"></td>
                    <td class="money amount" name="value"></td>
                </tr>
                <tr>
                    <td colspan="8">Total value</td>
                    <td class="money amount" name="total_value"></td>
                </tr>
                <tr>
                    <td class="label" colspan="9">Options</td>
                </tr>
                <tr name="position">
                    <td class="symbol" name="symbol"></td>
                    <td class="quantity" name="quantity"></td>
                    <td class="money amount" name="cost"></td>
                    <td class="money amount" name="price"></td>
                    <td class="money amount" name="day_gain"></td>
                    <td class="amount percent" name="day_gain_percent"></td>
                    <td class="money amount" name="gain"></td>
                    <td class="amount percent" name="gain_percent"></td>
                    <td class="money amount" name="value"></td>
                </tr>
                <tr>
                    <td colspan="8">Total value</td>
                    <td class="money amount" name="total_value"></td>
                </tr>
            </tbody>
        </table>
    </section>

    <section class="derived">
        <table class="total">
            <tbody>
                <tr>
                    <th>Symbol</th>
                    <th>Quanity</th>
                    <th>Price</th>
                    <th>Market value</th>
                </tr>
                <tr>
                    <td class="label" colspan="4">Stocks</td>
                </tr>
                <tr name="position">
                    <td class="symbol" name="symbol"></td>
                    <td class="quantity" name="quantity"></td>
                    <td class="money amount" name="price"></td>
                    <td class="money amount" name="value"></td>
                </tr>
                <tr>
                    <td colspan="3">Total value</td>
                    <td class="money amount" name="total_value"></td>
                </tr>
                <tr>
                    <td class="label" colspan="4">Options</td>
                </tr>
                <tr name="position">
                    <td class="symbol" name="symbol"></td>
                    <td class="quantity" name="quantity"></td>
                    <td class="money amount" name="price"></td>
                    <td class="money amount" name="value"></td>
                </tr>
                <tr>
                    <td colspan="3">Total value</td>
                    <td class="money amount" name="total_value"></td>
                </tr>
            </tbody>
        </table>
    </section>
</div>
</article>

{% endblock %}