{% extends "base.html" %}

{% block title %}
Home
{% endblock %}

{% block head %}
{% endblock %}

{% block header %}
Smartrade
{% endblock %}

{% block main %}
<p>Welcome to the Smartrade</p>

<section>
    <table>
        <tbody>
            <tr>
                <th>Total Investment</th>
                <th>Total Interest</th>
                <th>Total Cash</th>
            </tr>
            <tr>
                <td class="money">{{"%.2f"|format(total_investment)}}</td>
                <td class="money">{{"%.2f"|format(total_interest)}}</td>
                <td class="money">{{"%.2f"|format(total_cash)}}</td>
            </tr>
        </tbody>
    </table>
</section>

<li><a href="list">List tickers</a></li>
<li><a href="load">Load data</a></li>

{% endblock %}