{% extends "base.html" %}

{% block title %}
Transaction History
{% endblock %}

{% block head %}
{% endblock %}

{% block header %}
Transaction History
{% endblock %}

{% set account = request.path.split('/')[-1] %}

{% block nav %}

<a href="/home/{{account}}">Home (Account: {{account}})</a>
{% endblock %}
{% block main %}
<article>
    <h3>Transaction History</h3>
    {% with base_url="/transactions" %}
        {% include 'account.html' %}
    {% endwith %}
    
    <div class="search">
            <form id="searchForm" class="container" method="get">
                <div class="condition">
                    <label for="dateRange">Date Range</label>
                    <select id="dateRange" name="dateRange">
                        <option value="">all</option>
                        <option value="{{today|first_week_day}},">current week</option>
                        <option value="{{last_week_first_day}},{{last_week_last_day}}">last week</option>
                        <option value="{{today|first_month_day}},">current month</option>
                        <option value="{{last_month_first_day}},{{last_month_last_day}}">previous month</option>
                        <option value="{{today|first_year_day}},">current year</option>
                        <option value="{{last_year|first_year_day}},{{last_year|last_year_day}}">previous year</option>
                        <option id="custom" value="custom">custom</option>
                    </select>
                    <div class="customDate">
                        From: <input type="text" id="start_date">
                        To: <input type="text" id="end_date">
                    </div>
                </div>
                <div class="condition">
                    <label for="symbol">Symbol:</label>
                    <input type="text" name="symbol" value="{{request.args.get('symbol') or ''}}" />
                </div>
                <div class="condition">
                    <button id="searchBtn" type="submit">Search</button>
                </div>
                <input type="hidden" name="dateOrder"/>
            </form>
    </div>
    <section>
        <div class="history_summary">
            Transactions: {{transactions|length}}
            Start Cash: <span class="money">{{"%.2f"|format(start_cash)}}</span>
            End Cash: <span class="money">{{"%.2f"|format(end_cash)}}</span>
            Cash Change: <span class="money">{{"%.2f"|format(total_cash)}}</span>
        </div>
        <table class="history">
            <tbody>
                <tr>
                    <th>Date <span id="date_order" class="ui-icon ui-icon-triangle-1-s"></span></th>
                    <th>Symbol</th>
                    <th>Action</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Fee</th>
                    <th>Amount</th>
                    <th>Description</th>
                </tr>
                {% for tx in transactions %}
                <tr>
                    <!-- <td>{{tx.date.strftime("%Y-%m-%d")}}</td> -->
                    <td>{{tx.date}}</td>
                    <td class="symbol">{{tx.symbol}}</td>
                    <td>{{tx.action.to_str()}}</td>
                    <td class="money">{{"%.3f"|format(tx.price)}}</td>
                    <td class="quantity">{{'' if tx.quantity is none else tx.quantity}}</td>
                    <td class="money">{{"%.3f"|format(tx.fee)}}</td>
                    <td class="money amount {{'' if tx.amount is not none and tx.amount >= 0 else 'negative'}}">
                        {{"%.3f"|format(tx.amount)}}</span> </td>
                    <td class="description">{{tx.description}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>

    <script>
        $('#dateRange option[value="{{request.args.get('dateRange')}}"]').prop('selected', true)
        setDateStyle($('input[name="dateOrder"]').val("{{request.args.get('dateOrder') or 0}}"));
    </script>
</article>
{% endblock %}