{% extends "base.html" %}

{% block title %}
Transactions
{% endblock %}

{% block head %}
{% endblock %}

{% block header %}
Transaction Report
{% endblock %}

{% block nav %}
<a href="/">Home</a>
{% endblock %}
{% block main %}
<article>
    <p>
    <div class="summary"><span class="ticker">{{ticker}}</span>
        total profit:
        <span class="money amount {{'' if profit >= 0 else 'negative'}}">{{"%.2f"|format(profit)}}</span>
    </div>
    </p>
    <h3>Open Positions</h3>
    <div>
        {% if positions[ticker] %}
        <table>
            {% for symbol, quantity in positions[ticker].items() %}
            <tr>
                <td class="symbol">{{symbol}}</td>
                <td class="quantity">{{quantity}}</td>
            </tr>
            {% endfor %}
        </table>
        {% else %}
        None
        {% endif %}
    </div>

    <h3>Transactions</h3>
    <span class="toggle" onclick="$('.completed').parent().toggle()">toggle completed</span>
    {% for group in groups %}
    <section>
        {% for open_tx, close_tx_list in group.chains.items() %}
        <table class="transaction {{'' if group.positions|length > 0 else 'completed'}}">
            <colgroup>
                <col span="1" style="width: 25%;">
                <col span="1" style="width: 15%;">
                <col span="1" style="width: 10%;">
                <col span="1" style="width: 10%;">
                <col span="1" style="width: 10%;">
                <col span="1" style="width: 10%;">
                <col span="1" style="width: 20%;">
            </colgroup>
            {% if loop.index == 1 %}
            <tbody>
                <tr>
                    <th>Symbol</th>
                    <th>Date</th>
                    <th>Action</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Fee</th>
                    <th>Amount</th>
                </tr>
                {% endif %}
                <tr>
                    <td class="symbol" rowspan="100">{{open_tx.symbol}}</td>
                    <td>{{open_tx.date.strftime("%Y-%m-%d")}}</td>
                    <td>{{open_tx.action.to_str()}}</td>
                    <td class="money">{{"%.3f"|format(open_tx.price)}}</td>
                    <td class="quantity">{{open_tx.quantity}}</td>
                    <td class="money">{{"%.3f"|format(open_tx.fee)}}</td>
                    <td class="money amount {{'' if open_tx.amount >= 0 else 'negative'}}">
                        {{"%.3f"|format(open_tx.amount)}}</span> </td>
                </tr>
                {% for tx in close_tx_list %}
                <tr>
                    <td>{{tx.date.strftime("%Y-%m-%d")}}</td>
                    <td>{{tx.action.to_str()}}</td>
                    <td class="money">{{"%.3f"|format(tx.price)}}</td>
                    <td class="quantity">{{tx.quantity}}</td>
                    <td class="money">{{"%.3f"|format(tx.fee)}}</td>
                    <td class="money amount {{ '' if tx.amount >= 0 else 'negative' }}">
                        {{"%.3f"|format(tx.amount)}}</span> </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endfor %}
        <div class="summary">
            Profit:
            <span
                class="money amount {{'' if group.profit >= 0 else 'negative'}}">{{"%.2f"|format(group.profit)}}</span>
            ROI:
            {% if group.positions|length == 0 %}
            <span class="amount {{'' if group.roi >= 0 else 'negative'}}">{{"%.2f"|format(group.roi * 100)}}%</span>
            {% else %}
            N/A
            {% endif %}
            Cost:
            <span class="money amount">{{"%.2f"|format(group.cost)}}</span>
            Duration:
            <span class="amount">{{group.duration}}</span>
        </div>
    </section>
    {% endfor %}
</article>
{% endblock %}