html {
  font-family: sans-serif;
  background: #eee;
  padding: 1rem;
}

body {
  max-width: 960px;
  margin: 0 auto;
  background: white;
}

header, footer {
  left: 0;
  width: 100%;
  text-align: center;
}

header {
  top: 0;
  /* color: white; */
}

footer {
  bottom: 0;
  color: white;
  background-color: gray;
}

h1, h2, h3, h4, h5, h6 {
  font-family: serif;
  color: #377ba8;
  margin: 1rem 0;
}

a {
  color: #377ba8;
}

hr {
  border: none;
  border-top: 1px solid lightgray;
}

nav {
  background: lightgray;
  display: flex;
  align-items: center;
  padding: 0 0.5rem;
}

nav h1 {
  flex: auto;
  margin: 0;
}

nav h1 a {
  text-decoration: none;
  padding: 0.25rem 0.5rem;
}

nav ul  {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li a, nav ul li span, header .action {
  display: block;
  padding: 0.5rem;
}

main {
  padding: 0 1rem 1rem;
}

main > header {
  border-bottom: 1px solid lightgray;
  display: flex;
  align-items: flex-end;
}

main > header h1 {
  flex: auto;
  margin: 1rem 0 0.25rem 0;
}

main:last-child {
  margin-bottom: 0;
}

main form {
  margin: 1em 0;
  display: flex;
  flex-direction: column;
}

main label {
  font-weight: bold;
  margin-bottom: 0.5em;
}

main input, main textarea {
  margin-bottom: 1em;
}

main textarea {
  min-height: 12em;
  resize: vertical;
}

section {
  border-style: groove;
  margin: 6px;
  border-radius: 8px;
}

.summary, .transaction_group_summary {
  clear: both;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 800;
  margin-top: 1em;
  padding-left: 2em;
}

.transaction_group_summary {
  margin-top: 4em;
  padding-top: 1em;
  border-top: 2px dotted gray;
}

.summary .ticker,
.transaction_group_summary .ticker {
  font-weight: 900;
  color: rgb(62, 62, 199);
}

table.total {
  border-collapse: collapse;
  border-style: hidden;
  width: 95%;
  margin: 8px auto
}

table.total th, table.total td {
  border: 1px solid gray;
  padding: 4px;
  text-align: center;
}

table.total td.label {
  font-size: medium;
  font-weight: 700;
  text-align: left;
  padding-left: 2em;
}

table.transaction {
  background: #D5F5E3;
  border-collapse: collapse;
  border-style: hidden;
  width: 95%;
  margin: 8px auto
}

table.transaction.completed {
  background: #E7E9EB;
}

table.transaction th, table.transaction td,
table.history th, table.history td {
  border: 1px solid gray;
  padding: 4px;
  text-align: center;
}


table.transaction td.money {
  text-align: right;
}

.symbol,
table.history td:nth-child(3) {
  font-size: small;
  text-decoration: dotted underline;
}

.description,
table.history td:nth-child(9) {
  font-size: small;
}

.quantity {
  font: bold;
}

.money::before {
  content:"$";
}

.money,
table.history td:nth-child(5),
table.history td:nth-child(7),
table.history td:nth-child(8) {
  font-family: Verdana;
  font-size: small;
  text-align: right;
}

.amount,
table.history td:nth-child(8) {
  color: green;
}

.negative {
  color: red !important;
}

.toggle {
  cursor: pointer;
  background-color: #008CBA;
  border: none;
  color: white;
  padding: 4px 6px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  border-radius: 6px;
}

.account span {
  border-style: outset none;
  margin: 3px;
  border-radius: 3px;
}

tr.open {
  background-color: rgb(190, 216, 180);
}

table.transaction td.symbol {
  background-color: rgb(197, 206, 235);
}

tr.close {
  background-color: gainsboro;
}

section.account {
  border-style: none;
  margin: 6px;
}

.account span a {
  text-decoration: none;
}

form.container {
  width: 100%;
  display: block; /* override main form! */
}

div.condition {
  margin: 5px;
  float: left;
}

.customDate {
  visibility: hidden;
}

.ui-icon-triangle-1-n,
.ui-icon-triangle-1-s {
  cursor: pointer;
}

.history_summary {
  clear: both;
  padding-left: 1em;
  padding-bottom: 1em;
}

section.tx_group, .none{
  display: none;
}

ul.account_nav {
  list-style: none;
}

ul.account_nav li {
  display: inline;
}

ul.account_nav li.load {
  display: block;
  float: right;
}

ul.account_nav li.load a {
  text-decoration: dotted underline;
}

.message {
  color: green;
  font-size: small;
  float: right;
}

.message.error {
  color: red;
}